<div class="comment">
<p>
  <strong><%= t('activerecord.attributes.comment.title') %></strong>
  <%= comment.title %>
</p>
<p>
  <strong><%= t('activerecord.attributes.comment.body') %></strong>
  <%= simple_format comment.body %>
</p>
